<div class="kind-wrapper">
  <div class="container">
    <div class="row kind-block">
      <div class="col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-md-offset-1 col-md-4 title-block">
            <p>フード</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-3 text-right">
            <h1 class="kind-single">
              <%= link_to 'ローカルフード', shops_path(:id => 1 ), class: 'btn btn-block btn-orange' %>
            </h1>
          </div>
          <div class="col-md-3 text-right">
            <h1 class="kind-single">
              <%= link_to 'スイーツ', shops_path(:id => 2 ), class: 'btn btn-block btn-orange' %> 
            </h1>
          </div>
          <div class="col-md-3 text-right">
            <h1 class="kind-single">
              <%= link_to 'ちょっとぜいたく', shops_path(:id => 3 ), class: 'btn btn-block btn-orange' %>            
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>